# ignore hidden folders
/.storage
/.cloud
/.google.token
/.ssh
/.codegpt

# ignore some directories.
/www/*
/tts/
/deps/
/intents/
/themes/
/custom_components
/deps
/hacs
/image
/files
/appdaemon/
/glances/
/downloads/
/lightwand/

# ignore any of these files no matter where they are using double *
**.DS_Store
**._*
**.pyc
**.conf
**.uuid
**.txt
**.log*
**.db
**.sqlite
**.xml
**secrets*
**known_devices.yaml
**google_calendars.yaml
**ip_bans.yaml
**.spotify-token-cache
**zones.yaml
**test.yaml
**testing.yaml
**proxmox.yaml
**.homekit*
**.vscode
**.pid
**.xml
**.csr
**.crt
**.key
**core.*
**OZW_Log.txt
**.db-journal
**.db-shm
**.db-wal
**.sqlite
**__pycache__
**phue.conf
**ios.conf
**pyozw.sqlite
**ipchange.yaml
**production_auth.json
**alexa_auth
**.corrupt*
**ages_old.yaml
**jsconfig*
.markdownlint.json
**test.jinja

# exceptions
!/www/bubble/