{% macro greeting() %}
{% if now().strftime('%H')|int < 12 %}
  {{ [
    "Good morning. ",
    "Top of the morning to you laddy. ",
  ] | random }}
{% elif now().strftime('%H')|int >= 12 and now().strftime('%H')|int < 17 %}
  {{ [
    "Greetings earthling. ",
    "Good afternoon. ",
    "How do you do, fellow kids? ",
  ] | random }}
{% else %}
  {{ [
    "Good evening. ",
    "The grandest of evenings to you. "
  ] | random }}
{% endif %}
{% if is_state('binary_sensor.morning','on') %}
  Today is {{ states('sensor.today_is') }}, {{ as_timestamp(now()) | timestamp_custom('%B %d %Y') }}.
{% endif %}
It is {{ now().strftime("%I:%M %p") }}.
{% endmacro %}

{% macro greeting_nodate() %}
{% if now().strftime('%H')|int < 12 %}
  {{ [
    "Good morning. ",
    "Top of the morning to you laddy. ",
  ] | random }}
{% elif now().strftime('%H')|int >= 12 and now().strftime('%H')|int < 17 %}
  {{ [
    "Greetings earthling. ",
    "Good afternoon. ",
    "How do you do, fellow kids? ",
  ] | random }}
{% else %}
  {{ [
    "Good evening. ",
    "The grandest of evenings to you. "
  ] | random }}
{% endif %}
It is {{ now().strftime("%I:%M %p") }}.
{% endmacro %}